.textArea {
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.375rem;
    padding: 0.75rem;
    display: inline;
    outline: none;
    resize: none;
}

.textArea:focus,
.textArea:active {
    border-color: var(--border-color-focus)
}